<!DOCTYPE html>
<html ng-app="oereoApp">
<head>
  <title>Oereo</title>
  <%= stylesheet_link_tag    "spa", media: "all" %>
  <%= javascript_include_tag "spa" %>
</head>
<body>

  <div ng-view class="container"></div>

</body>
</html>
