<!DOCTYPE html>
<html ng-app>
<head>
  <title>Oereo</title>
  <%= stylesheet_link_tag    "spa", media: "all" %>
  <%= javascript_include_tag "angular" %>
</head>
<body>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
