<!DOCTYPE html>
<html ng-app>
<head>
  <title>Oereo</title>
  <%= stylesheet_link_tag    "spa", media: "all" %>
  <%= javascript_include_tag "angular" %>
</head>
<body>

  <div class="container">
    <%= yield %>

    Write some text in textbox:
    <input type="text" ng-model="sometext" />

    <h1>Hello {{ sometext }}</h1>
  </div>

</body>
</html>
