<!DOCTYPE html>
<html ng-app>
<head>
  <title>Oereo</title>
  <%= stylesheet_link_tag    "spa", media: "all" %>
  <%= javascript_include_tag "spa" %>
</head>
<body>

  <div class="container">
    <%= yield %>

    Write some text in textbox:
    <input type="text" ng-model="sometext" />

    <h1>Hello {{ sometext }}</h1>

    <ul ng-controller="HomeController">
      <li ng-repeat="resource in resources"><a href="{{ resource.url }}">{{ resource.url }}</a></li>
    </ul>
  </div>

</body>
</html>
