<h1>List resources</h1>

Filter the results
<input type="text" ng-model="resourceFilter" />

<div class="resource-list" ng-controller="ListController">
  <div class="resource" ng-repeat="resource in resources | filter:resourceFilter" class="animate-repeat">
    <h3><a href=" {{ resource.url }}">{{ resource.title }}</a> <small>{{ resource.url }}</small></h3>
    <p>{{ resource.description }}</p>
    <a href="#/edit/{{ resource.id }}" class="btn btn-warning btn-xs">Edit</a>
    <a ng-click="delete(resource)" class="btn btn-danger btn-xs">Delete</a>
  </div>
</div>

<div class="pull-right">
  <a href="#/new" class="btn btn-success" type="button">New resource</a href="#/new">
</div>
