<h1>List resources</h1>

Filter the results
<input type="text" ng-model="resourceFilter" />

<ul ng-controller="ListController">
  <li ng-repeat="resource in resources | filter:resourceFilter" class="animate-repeat">
    <a href="{{ resource.url }}">{{ resource.url }}</a>
    <a href="#/edit/{{ resource.id }}" class="btn btn-warning btn-xs">Edit</a>
    <a ng-click="delete(resource)" class="btn btn-danger btn-xs">Delete</a>
  </li>
</ul>


<a href="#/new" class="btn btn-success" type="button">New resource</a href="#/new">
