// Place all the styles related to the spa controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

body {
  font-family: Georgia, Times, "Times New Roman", serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Verdana, Geneva, sans-serif;
}

#container {
  width: 80%;
  max-width: 760px;
  margin: 0 auto;
}

