// Place all the styles related to the spa controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

body {
  font-family: Georgia, Times, "Times New Roman", serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Verdana, Geneva, sans-serif;
}

textarea {
  resize: vertical;
}

#container {
  position: relative;
  width: 80%;
  max-width: 760px;
  margin: 0 auto;
}

.well {
  overflow: hidden;
}

// Animations

#view {
  position: absolute;
  top: 0; left: 0;
}

#view.ng-enter {
  transition: all 0.5s linear;
  opacity: 0;
}

#view.ng-enter-active {
  opacity: 1;
}

#view.ng-leave {
  transition: all 0.5s linear;
  opacity: 1;
}

#view.ng-leave-active {
  opacity: 0;
}
